#contact {
  .contact-container {

    .btn {
      margin-right: 1rem;
      position: relative;
      padding-left: 50px;

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 15px;
        left: 15px;
      }
    }

    @media (max-width: 500px) {
      .btn {
        padding-left: 40px;

        img {
          width: 15px;
          height: 15px;
          top: 12px;
          left: 12px;
        }
      }
    }
  }
}