@charset "UTF-8";

$gold-gradient: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
$dark-green: #275129;
$light-green: #39783c;
$dark-gold: #D89F2D;
$light-gold: #E9DB8A;

html {
  box-sizing: border-box;
  font-size: 16px;
}

body,
html,
#id {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-image: url(../src/img/b5c6655359940e111d0dc791dea0b859.jpg);
  background-size: cover;
  background-repeat: repeat;
  position: relative;
}

#wrapper {
  width: 1200px;
  font-family: 'Nunito Sans', sans-serif;
  margin: 0 auto;
  padding: 0 50px;
  height: 100%;

  aside {
    width: 260px;
    position: fixed;
    top: 0;
    height: 100%;
    background-color: $dark-green;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #FFF;
    margin-right: 20px;

    .heading {
      position: relative;
      padding: 30px;
      text-align: center;

      .avatar-wrap {
        position: relative;
        width: 186px;
        height: 186px;
        background: $gold-gradient;
        border-radius: 100%;
        text-align: center;
        margin: 0 auto;

        .avatar {
          position: absolute;
          top: 8px;
          left: 8px;
          border-radius: 100%;
          margin-bottom: 50px;
          filter: brightness(1.1);
        }
      }
    }

    nav {
      margin-top: 50px;
      width: 100%;
      padding: 15px 5px;
      border-top: 1px solid $light-green;
      border-bottom: 1px solid $light-green;

      li {
        list-style: none;
        text-align: center;
        display: block;
        height: 50px;

        a {
          text-transform: uppercase;
          font-size: .94rem;
          letter-spacing: 1px;
          display: block;
          padding: 5px 0;
          color: #FFF;
          font-weight: 600;
          position: relative;
          overflow: hidden;
          z-index: 1;
          cursor: pointer;
          font-weight: 200;
          font-size: 18px;
          line-height: 2.5rem;
          outline: none;

          &.active {
            background: $light-green;
          }

          &:hover {
            background: $light-green;
            transition: all .4s ease-out;
          }
        }
      }
    }
  }

  main {
    margin: 50px 0 50px 280px;
    width: calc(100% - 280px);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    font-size: 18px;

    .border {
      padding: 40px 20px;
      border-left: 5px solid $dark-gold;
      border-right: 5px solid $light-gold;
      background-image: linear-gradient(90deg, $dark-gold, $light-gold), linear-gradient(90deg, $dark-gold, $light-gold);
      background-size: 100% 5px;
      background-position: 0 0, 0 100%;
      background-repeat: no-repeat;

      .component {
        margin-bottom: 80px;

        .title {
          position: relative;

          h1 {
            font-weight: 700;
            margin-bottom: 15px;
            text-transform: uppercase;
            z-index: 999;
            font-size: 2.57rem;
            line-height: 3.2857rem;
          }

          span {
            font-size: 4.5rem;
            position: absolute;
            left: 0;
            top: 100%;
            line-height: 1;
            font-weight: 900;
            color: $dark-green;
            display: inline-block;
            text-transform: uppercase;
            z-index: -1;
            -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            white-space: nowrap;
          }
        }

        h2 {
          text-align: right;
          font-size: 2rem;
          line-height: 2.7rem;
          margin-bottom: 20px;

          span {
            color: $dark-green;
          }
        }

        p {
          margin-bottom: 1rem;
        }

        h4 {
          font-size: 1.71rem;
          line-height: 2.43rem;
        }

        h5 {
          font-size: 1.43rem;
          line-height: 2.14rem;
          font-weight: 700;
        }

        h6 {
          font-size: 1.14rem;
          line-height: 1.857rem;
        }


        button,
        input,
        select {
          height: 50px;
          padding: 0 15px;
        }

        input,
        select,
        textarea {
          width: 100%;
          font-size: 14px;
          vertical-align: middle;
        }

        input,
        select,
        textarea,
        button {
          outline: none;
        }

        textarea {
          padding: 10px 15px;
        }
      }
    }

    .btn {
      margin-top: 30px;
      background-color: $dark-green;
      color: #FFF;
      text-transform: uppercase;
      padding: 0 30px;
      display: inline-block;
      font-size: .9rem;
      letter-spacing: 2px;
      height: 50px;
      line-height: 50px;
      border: 0;
      position: relative;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: auto;
        bottom: 0;
        height: 2px;
        width: 100%;
      }

      &:hover {
        transition: all .4s ease-out;
        background-color: $light-green;

        &::before {
          transform: scaleX(1);
          transition: all .4s ease-out;
          background: $dark-gold;
        }
      }
    }

    #about {
      ul {

        li {

          b {
            width: 120px;
            display: inline-block;
            position: relative;
            margin-right: 10px;
            vertical-align: top;

            &::after {
              content: ":";
              position: absolute;
              top: 0;
              left: auto;
              right: 0;
            }
          }

          span {
            display: inline-block;
            width: 600px;
          }
        }
      }
    }

    #resume {

      .skills-box {
        display: flex;
        flex-wrap: wrap;

        .progress-wrap {
          flex: 0 0 50%;
          max-width: 50%;
          margin-top: 30px;

          .progress-title {
            font-weight: 600;
            margin-bottom: 0;
          }

          .progress {
            display: flex;
            align-items: center;

            .progress-percentage {
              flex: 0 0 60px;
            }

            .progress-container {
              background: #ababab;
              display: block;
              height: 6px;
              width: 75%;
              position: relative;

              .progress-active {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background: $dark-green;
              }
            }
          }
        }
      }
    }

    #portfolios {

      .portfolios-wrap {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 33.333333%;

        .portfolios-box {
          width: 33.333333%;

          .potfolio-image {
            position: relative;
            position: relative;
            width: 230px;
            height: 130px;
            background-position: center center;
            background-repeat: no-repeat;
            overflow: hidden;

            &::before {
              content: "";
              position: absolute;
              left: 15px;
              top: 15px;
              height: calc(100% - 30px);
              width: calc(100% - 30px);
              background: hsla(0, 0%, 100%, .9);
              -webkit-transition: all .4s ease-out;
              transition: all .4s ease-out;
              -webkit-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transform-origin: 0;
              transform-origin: 0;
            }

            img {
              vertical-align: middle;
              min-height: 100%;
              min-width: 100%;
            }

            ul {
              margin-bottom: 0;
              padding-left: 0;
              position: absolute;
              left: 0;
              top: 50%;
              text-align: center;
              width: 100%;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              visibility: hidden;
              opacity: 0;
              margin-top: 30px;
              -webkit-transition: all .4s ease-in-out .2s;
              transition: all .4s ease-in-out .2s;

              li {
                list-style: none;
                display: inline-block;
                margin: 0 7px;

                button,
                a {
                  cursor: pointer;
                  display: inline-block;
                  height: 45px;
                  width: 45px;
                  padding: 5px 0;
                  vertical-align: middle;
                  text-align: center;
                  line-height: 1;
                  background: #a4acc4;
                  color: #fff;
                  border: 1px solid #a4acc4;
                  border-radius: 100px;
                  outline: none;
                  font-size: 1.25rem;
                  -webkit-transition: all .4s ease-out;
                  transition: all .4s ease-out;

                  svg {
                    vertical-align: middle;
                    overflow: hidden;
                    height: 100%;
                  }
                }
              }
            }

            &:hover {
              &::before {
                transform: scaleX(1);
              }

              ul {
                visibility: visible;
                opacity: 1;
                margin-top: 0;
              }
            }
          }

          p {
            font-size: 1.14rem;
            line-height: 1.857rem;
          }
        }
      }
    }

    #contact {

      form {

        .form-field {
          margin-top: 30px;
          position: relative;

          label {
            position: absolute;
            left: 15px;
            top: -13px;
            background: $dark-green;
            color: #FFF;
            -webkit-transition: all .4s ease-out;
            transition: all .4s ease-out;
            pointer-events: none;
            padding: 0 10px;
            font-size: .94rem;
          }

          input,
          textarea {
            border: 1px solid $dark-green;
            font-size: 1rem;
            height: 50px;
            padding: 0 15px;
          }

          textarea {
            height: 190px;
            padding: 10px 15px;
          }
        }
      }
    }
  }
}